@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.skriv h1 {
  overflow: hidden;
  color: white;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: skriva 3.5s steps(40, end);
  animation-fill-mode: forwards;
}

.skriv .cursor {
  border-right: 0.15em solid orange;
  animation: blink 0.75s step-end infinite;
}

@keyframes skriva {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 0;
    visibility: hidden;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
