@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
}

:root {
  --primary-color: #001d3d;
  --secondary-color: #003566;
  --text-color: #f9f6ee;
  --site-color: #f5f5f5;
}

body {
  background-color: var(--site-color);
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
  min-height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 10px;
}

header {
  grid-area: header;
  background-color: var(--primary-color);
  padding: 30px;
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1000;
  color: var(--text-color);
}

header h1 {
  justify-self: start;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: end;
}

nav {
  display: flex;
  text-align: center;
  justify-content: end;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

li {
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

main {
  grid-area: main;
}

#about {
  background-color: #f5f5f5;
}

footer {
  display: flex;
  grid-area: footer;
  background-color: var(--primary-color);
  color: var(--text-color);
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
